@inherits CampaignBase;
@page "/campaign"
@page "/campaign/{guid:guid}"

@using SecretSanta.Client.Pages.Components

@* @attribute [StreamRendering]  *@
@*Otherwise it will render on server - async function in base class will be called there and waited on *@
@* @rendermode InteractiveWebAssembly *@
@* InteractiveServer? InteractiveWebAssembly? otherwise the button won't be clickable*@
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender:false))
@* prevents double thing, by having the server not do it at all? *@

<PageTitle>Edit Campaign</PageTitle>



@if(CampaignDTO==null){
    if(Information==null){
        <div>Loading...</div>
    } else {
        <div>@Information</div>
    }
} else {

    if(Information!=null){
        <div>@Information</div>
    }
    
    <p>Created: @CampaignDTO.CreatedDate</p>

    <EditForm Model="@CampaignDTO" OnValidSubmit="HandleSubmit" FormName="editCampaign">
        <DataAnnotationsValidator />
        <label>Campaign Name</label>
        @if(CampaignDTO.OrganiserView){
            <InputText @bind-Value="CampaignDTO.Name">@CampaignDTO.Name</InputText>
            <ValidationMessage For="@(() => CampaignDTO.Name)" />
        } else {
            <div>@CampaignDTO.Name</div>
        }

        <label>Welcome Message</label>
        @if(CampaignDTO.OrganiserView){
            <InputTextArea @bind-Value="CampaignDTO.WelcomeMessage">@CampaignDTO.WelcomeMessage</InputTextArea>
            <ValidationMessage For="@(() => CampaignDTO.WelcomeMessage)" />
        } else {
            <div>@CampaignDTO.WelcomeMessage</div>
        }

        @if(CampaignDTO.OrganiserView){
            <label>Open to public?</label>
            <InputCheckbox @bind-Value="CampaignDTO.JoinPublic" />
            <label>Require verification?</label>
            <InputCheckbox @bind-Value="CampaignDTO.RequireVerification" />
        }

        

        @{
            Dictionary<string,CampaignMemberDTO> DupeList = new Dictionary<string,CampaignMemberDTO>();
            int index = 0;
            foreach ( var member in CampaignDTO.Members ){
                CampaignMemberDTO? ServerState = null;
                bool onserver = false;
                bool duplicate = false;
                bool isuser = false;
                if(member.Email==null){
                    ServerState = null;
                    onserver = true;
                } else {
                    isuser = IsUser(member.Email);

                    duplicate = DupeList.TryGetValue(member.Email,out var unusedpreviousentry);
                    if(!duplicate){
                        DupeList.Add(member.Email,member);
                        onserver = MemberOnServer.TryGetValue(member.Email,out ServerState);
                    }
                }

                <hr>
                <div>
                    @if(onserver){
                        if(ServerState?.Email !=null){
                            <text>@ServerState.Email</text>
                        }
                    } else {
                        if(isuser) {
                            <label for "orgemailselect">Register with which Email?</label>
                            <select id="orgemailselect" @bind="member.Email">
                            @foreach (string orgmail in Currentuseremails){
                                <option value=@orgmail>@orgmail</option>
                            }
                            </select>
                        } else { //can't happen for non org.
                            <label>Email</label>
                            <InputText @bind-Value="member.Email">@member.Email</InputText>
                        }
                        
                        if(index!=0){//only to catch very first creation..
                            <ConfirmationBox T="CampaignMemberDTO" MainText="Delete Member?" CallbackFunc="@DeleteMember" ButtonOptions="@(new ConfirmationBoxBase<CampaignMemberDTO>.ButtonOption[]{
                            new ConfirmationBoxBase<CampaignMemberDTO>.ButtonOption{ ButtonText = "Cancel", CssClass="btn-primary", Value=null },
                            new ConfirmationBoxBase<CampaignMemberDTO>.ButtonOption{ ButtonText = "Confirm Delete", CssClass="btn-warning", Value=member } })" />
                        }

                        if(duplicate){
                            <text>Can't Register Duplicate Email</text>
                        }
                    }
                </div>
                if(isuser){
                    <label for "displayemailselect">Display Which Email?</label>
                    <select id="displayemailselect" @bind="member.DisplayEmail">
                    @if(member.Accept!=true && member.Organiser!=true){
                        <option value=""></option>
                    }
                    @foreach (string orgmail in Currentuseremails){
                        <option value=@orgmail>@orgmail</option>
                    }
                    </select>
                    <text>
                        <label>Display Name?</label>
                        <InputText @bind-Value="member.DisplayName">@member.DisplayName</InputText>
                    </text>
                    if(!onserver || ServerState!.Accept!=true){//CHECKNULL is actually ok - see isuser //can't go back once true
                        <label for "acceptselect">Participate?</label>
                        <select id="acceptselect" @onchange="(e) => member.Accept = GetNullableBool(e.Value)">
                        <option value="" selected="@(member.Accept==null ? "selected" : null )">Undecided</option>
                        <option value="true" selected="@(member.Accept==true ? "selected" : null )">Accept</option>
                        <option value="false" selected="@(member.Accept==false ? "selected" : null )">Decline</option>
                        </select>
                    }//else display?
                    //if(CampaignDTO.OrganiserView){ we could allow making another of ours org... } else {
                    if(ServerState!=null && ServerState.Organiser==null){
                        <label for "orgselect">Accept Organiser Role?</label>
                        <select id="orgselect" @onchange="(e) => member.Organiser = GetNullableBool(e.Value)">
                        <option value="" selected="@(member.Organiser==null ? "selected" : null )">Undecided</option>
                        <option value="true" selected="@(member.Organiser==true ? "selected" : null )">Accept</option>
                        <option value="false" selected="@(member.Organiser==false ? "selected" : null )">Decline</option>
                        </select>
                    }//else display?
                } else {
                    <text>
                        Name: @member.DisplayName
                        Email: @member.DisplayEmail
                        @member.Accept (Accept status)
                    </text>

                    if(CampaignDTO.OrganiserView){
                        if(ServerState==null || ServerState.Organiser!=true){
                            if (member.Organiser==false){
                                <text>NOT ORGANISER</text>
                                <button @onclick="@((e) => {
                                    member.Organiser = null;
                                })">Offer organiser?</button>
                            } else {
                                <text>ORGANISER OFFERED</text>
                                <button @onclick="@((e) => {
                                    member.Organiser = false;
                                })">Remove offer?</button>
                            }
                        }
                    } else {
                        if(member.Organiser==true){
                            <text>Organiser</text>
                        }
                    }
                }
                index++;
            }
        }
        <ValidationMessage For="@(() => CampaignDTO.Members)" />
        <hr>

        @if(CampaignDTO.OrganiserView){
            <label>Bulk Add Emails</label>
            <InputTextArea @bind-Value="BulkEmails">@BulkEmails</InputTextArea>
            <button @onclick="((e) => {
                BulkAddEmails();
            })">Add Emails</button>


            @* <label>Action to perform</label> *@
            @* <InputText @bind-Value="Actiontext">@Actiontext</InputText> *@

            <label for "actionselect">Perform action?</label>
            <select id="actionselect" @bind="Actiontext">
            <option value="none" selected="selected">Nothing</option>
            <option value="draw">Draw</option>
            <option value="redraw">Redraw</option>
            <option value="sendinvitation">Send Invitations</option>
            <option value="sendinvitation-justorganisers">Send Invitations (Organisers only)</option>
            </select>

            @if(Actiontext[0]=='s'){
                <label>Send even if sent already?</label>
                <InputCheckbox @bind-Value="@Force" />
            }


            <button @onclick="@((e) => {
                AddMember("");
            })">Add a member</button>
        } else {
            if(CampaignDTO.JoinPublic){
                if(Currentuseremails.Length==0){
                    <div>You must log in to add yourself to this campaign</div>
                } else {
                    <button @onclick="@((e) => {
                        AddMember(0);
                    })">Add Yourself!</button>
                }
            }
        }

        @if(Currentuseremails.Length>0){
            <button type="submit">Submit</button>
        } else {
            <button type="submit">todo - This Submit button will not exist - not logged in.</button>
        }
    </EditForm>
}
        
